
.cta { text-align: left; }

.cta .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta .title-wrapper {
  margin-bottom: 0;
  width: 100%;
}

.cta-form {
  margin-inline: 0;
  max-width: unset;
  width: 100%;
}

